@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 90% 42%;
    --primary-foreground: 355.7 100% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 1rem;
    --primary-color: hsl(var(--primary));
    --scrollbar-track: #f0f0f0; /* Default track color */
    --scrollbar-thumb: var(--primary-color); /* Default thumb color */
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --primary-color: hsl(var(--primary));
    --scrollbar-track: #2d2d2d; /* Dark mode track color */
    --scrollbar-thumb: var(--primary-color); /* Dark mode thumb color */
  }

  body {
    @apply bg-background text-foreground scroll-smooth;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  .background {
    background-image: url(/bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Ukuran font untuk layar besar */
@media (min-width: 1024px) {
  :root {
    font-size: 18px;
  }
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px; /* Lebar scrollbar */
  height: 8px; /* Tinggi scrollbar horizontal */
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb); /* Thumb color */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid transparent; /* Adds padding inside the thumb */
  background-clip: padding-box; /* Prevent border from covering the thumb */
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track); /* Track color */
  border-radius: 10px; /* Match the thumb's rounded corners */
}

/* Scrollbar styles for Firefox */
* {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}
