
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #050315;
    --background: #f2f2f2;
    --primary: #b9ff66;
    --secondary: #B9FF77;
    --accent: #dcffdc;
  }

  .dark {
    --text: #ebe9fc;
    --background: #010104;
    --primary: #0f9900;
    --secondary: #002400;
    --accent: #549900;
  }
}

body {
  background: var(--background);
  color: var(--text);
}

.h-full {
  height: 100%
}

.h-screen {
  height: 100dvh
}

::-moz-selection,
::selection {
  background-color: var(--secondary);
}
