@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #12180c;
    --background: #eff5e5;
    --primary: #549900;
    --secondary: #b7e085;
    --accent: #7bc224;
  }

  .dark {
    --text: #edf3e6;
    --background: #17191a;
    --primary: #9aff20;
    --secondary: #b7e085;
    --accent: #94db3e;
  }
}

body {
  background: var(--background);
  color: var(--text);
}

::-moz-selection,
::selection {
  background-color: var(--secondary);
}
